<div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select">
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div class="games">
  <div class="game">
    <div class="game-thumb-container">
      <img
        src="https://ae01.alicdn.com/kf/HTB14_kXRpXXXXb9apXXq6xXFXXXW.jpg"
        alt="thumbnail"
        class="game-thumbnail"
      />
    </div>
    <div class="game-description">
      <p class="game-name">Name</p>
      <div class="game-platforms">
        <img
          class="game-platform"
          src="https://pluspng.com/img-png/xbox-logo-png-xbox-logo-png-image-xbox-logo-video-games-birthday-party-video-2000x1977.png"
          alt="platform-icon"
        />
      </div>
    </div>
  </div>
</div>


