.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}

.details {
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
    @media(max-width: 500px){
      width: 100px;
      height: 100px;
    }
    @media(max-width: 400px){
      width: 80px;
      height: 80px;
    }
    .dial, .value {
      stroke-width: 10;
    }
    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
  }

  .game-gauge {
    position: absolute;
    top: 50px;
    right: 0;

    @media(max-width: 400px){
      top: 80px;
    }
    &-label {
      font-size: 20px;
      color: #ffff;
      position: relative;
      bottom: 60px;
      @media(max-width: 500px){
        font-size: 12px;
        bottom: 50px;
      }
      @media(max-width: 400px){
        font-size: 12px;
        bottom: 40px;
      }
    }
  }
}

.game {
  &-banner {
    height: 500px;
    overflow: hidden;
    @media(max-width: 800px){
      height: 300px;
    }

    &-img {
      width: 100%;
      filter: blur(3px);
    }
  }

  &-content {
    text-align: center;
    position: relative;
    top: -300px;
  }

  &-header {
    &-title {
      font-size: 70px;
      color: #ffff;
      font-weight: 700;
      line-height: 70px;
      @media (max-width: 1400px){
        font-size: calc(20px + (70 - 20) * ((100vw - 280px) / (1400 - 280)));
      }
      @media (max-width: 300px){
        line-height: 40px;
      }
    }

    &-release-date {
      color: #ffff;
      font-weight: 700;
      font-size: 30px;
      @media (max-width: 550px){
        font-size: calc(14px + (30 - 14) * ((100vw - 280px) / (1400 - 280)));
        margin: 0;
      }
    }

    &-genres {
      color: #ffff;
      font-weight: 700;
    }
  }
}
