<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p class="game-tabs-par">
        Platforms:
        <span>PC</span>
      </p>
      <p class="game-tabs-par">
        Publishers:
        <span>Blizzard</span>
      </p>
      <p class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="#" target="_blank">https://</a>
      </p>
      <div class="game-description">Description</div>
      <p class="game-tabs-votes">
        <span>
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">75</span>
        </span>
        <span>
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">15</span>
        </span>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://i.ytimg.com/vi/14B63zzyBZs/maxresdefault.jpg"
        alt="game-screenshot"
      />
    </mat-tab>
    <mat-tab label="Trailers">
      <video
        class="game-trailer"
        controls
        >
        <source src="https://steamcdn-a.akamaihd.net/steam/apps/256693661/movie_max.mp4">
        Your browser does not support the video
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
