.tabs {
  background: rgba(63, 81, 181, 0.61);
  color: #ffffff;
  text-align: left;
  padding: 10px;

  ::ng-deep .mat-tab-labels {
    justify-content: center;
  }
  &-par {
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
  }
  &-link {
    color: #ffffff;
  }
  &-votes {
    margin-left: 20px;
    display: flex;

    &-up {
      color: #0ed30e;
    }
    &-down {
      color: #fa2929;
    }
    &-count {
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: super;
    }
  }

  &-description {
    padding: 20px;
  }
  &-screenshot {
    margin-top: 5px;
    width: 100%;
  }
  &-trailer {
    width: 100%;
    margin: 20px 0;
  }
}
